
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h2>Đơn Hàng Của Quý Khách Đã Được Chúng Tôi Ghi Nhận . Chúng Tôi Sẽ Liên Hệ Quý Khách Trong Thời Gian Sớm Nhất Và Giao Đúng Hẹn</h2>
<p>
    @Html.ActionLink("Về Trang Chủ","Index","Home")
</p>

